accelerate
appdirs
loralib
bitsandbytes
black
black[jupyter]
datasets
fire #p
git+https://github.com/huggingface/peft.git
git+https://github.com/huggingface/transformers.git
sentencepiece
gradio #p
tensorboard
flwr
torch
transformers
